{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<h1>Here's {{ user.username }}</h1>
<p>Fullname: {{ user.first_name }} {{ user.last_name}}</p>
<p>Contact them here: <a href="">{{ user.email }}</a></p>
<p>Feedback left by this user:</p>
<ul>
    <div>
        {% for feedback in feedbacks %}
        <div class="card my-4">
          <div class="card-body">
            <h5 class="card-title text-info">
              {{user.username}}
              {% if session['username'] == user.username %}
              <form style="display:inline;" action="/feedback/{{feedback.id}}/delete" method="POST">
                <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
              </form>
              <a class="btn btn-success" href="/feedback/{{feedback.id}}/update">Edit</a>
              {% endif %}
            </h5>
            <p class="card-text">
              {{feedback.content}}
            </p>
      
          </div>
        </div>
      
        {%  endfor %}
      </div>
</ul>
{% endblock %}
